*{
    box-sizing: border-box;
}
body{
    background-image: url('../images/bkd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
  
  .show-cart li {
    display: flex;
  }
  .card {
    margin-bottom: 10px;
  }
  .card-img-top {
    width: 99px;
    height: 99px;
    align-self: center;
  }
  .header h1{
      text-align: center;
  }
  #pizza{
      text-align: center;
      color: darkblue;
      font-size: 10vh;
      font-style: italic;
  }