*{
    box-sizing: border-box;
}
body{
    background-image: url('../images/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  
  .show-cart li {
    display: flex;
  }
  .card {
    margin-bottom: 10px;
  }
  .card-img-top {
    width: 100px;
    height: 100px;
    align-self: center;
  }
  .header h1{
      text-align: center;
  }